.phonebookHeader {
    font-size: 32px;
}

.contactsHeader {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

label {
    display: block;
    height: 52px;
}

input {
    display: block;
}

li {
    font-size: 16px;
}