@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Satisfy&display=swap');

.phonebookHeader {
    font-family: 'Lugrasimo', cursive;
    font-size: 35px;
}

.contactsHeader {
    font-family: 'Lugrasimo', cursive;
    font-size: 30px;
}

h3 {
    margin: 0;
    font-family: 'Lugrasimo', cursive;
    font-size: 25px;
}

form {

}

label {
    display: block;
    height: 72px;
}

input {
    display: block;
}

li {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}